<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/portfolio/css/AboutMe.css">
    <title>Title</title>
</head>
<body>

    {% extends 'portfolio/layout.html' %}
    {% block main %}
        <section>

        </section>
        <div class="resume">
                  <h3>About me</h3>
        <p>Student of Video Game Development at Universidade Lusófona De Humanidades e Tecnologias.
            Currently developing my skills in Unity and C# programming and
            also Python, HTML, and CSS.</p>

        <p>For my graduation final project,
            I'm developing a project called Alter,
            a first-person puzzle game where you play as Layla,
            a girl with a polymorphic body.</p>

        <p>I am interested in developing entertainment games, improving my skills,
            and better understanding the mechanisms behind the creation of video games.</p>
        </div>


        <section class="subject">

            <h1><b>Subjects</b></h1>

            <div class="subjects">
                <div>
                    <div><h3> {{LP2name}} </h3></div>
                    <div>
                        <h3>Topics</h3>
                        <ul>
                            {% for LP2Topic in LP2Topics %}
                            <li>{{  LP2Topic }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="projects">
                        <h3>Projects</h3>
                        <a href="https://github.com/malmaboy/wolf_and_sheepsLP2">
                            Wolf and Sheeps
                        </a>
                    </div>
                </div>
            <div>

            </div>

            </div>

        </section>


    {% endblock %}






</body>
</html>