<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% extends 'portfolio/layout.html' %}
    {% block main %}
            <h3>Products</h3>
        <h4>Beira Mar!</h4>
        <p>Beira Mar! is a 3D serious game, where you have to collect different seashells on an island, so you can
        complete the collections. This game was specially created for people with cognitive and physical
        disabilities.</p>
    {% endblock %}

</body>
</html>