{% extends 'portfolio/layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="{% static 'portfolio/css/Projects.css' %}" crossorigin="anonymous">
        <title>Projects</title>
    {% endblock %}
</head>
<body>


{% block main %}
    <h1>Projects</h1>


    <section>

        <div class="Projects">

            {% for project in projects %}
                  <div>

                <a href="{{ projects.projectLink }}">
                    <div class="ProjectName"><h4> {{ project.projectName }} </h4></div>
                    <br>
                    <div class="ProjectDescription">
                        <p> {{ project.projectDescription }}</p>
                    </div>
                    <div class="image">
                        <img src="{{ project.projectImage.url }}">
                    </div>
                </a>

            </div>
            {% endfor %}

        </div>
    </section>


{% endblock %}

</body>
</html>