{% extends 'portfolio/layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="{% static 'portfolio/css/Projects.css' %}" crossorigin="anonymous">
        <title>Projects</title>
    {% endblock %}
</head>
<body>


{% block main %}
    <h1>Projects</h1>


    <section>

        <div class="Projects">

            {% for project in projects %}
                  <div>

                <a href="{{ projects.projectLink }}">
                    <div class="ProjectName"><h4> {{ project.projectName }} </h4></div>
                    <br>
                    <div class="ProjectDescription">
                        <p> {{ project.projectDescription }}</p>
                    </div>
                    <div class="image">
                        <img src="{{ project.projectImage.url }}">
                    </div>
                </a>

            </div>
            {% endfor %}

        </div>
    </section>

    <section>
            <h2> Trabalhos Interressantes </h2>

            <div class="tfcs">
                {% for tfc in tfcs %}
                    <a href="{{ tfc.reportLink }}">
                        <div class="Title"> <h4>{{ tfc.title }}</h4></div>
                        <div class="author">{{ tfc.author }}</div>
                        <div class="advisor"> {{ tfc.advisor }}</div>
                        <div class="imageT"> {{ tfc.image }}</div>
                        <div class="year"> {{ tfc.year }}</div>
                        <div> <a>{{ tfc.gitLink }}</a></div>
                    </a>
                {% endfor %}
            </div>

            <h2>Publish end of degree work </h2>
            <div class="form">
                <form action=""  method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Publish</button>
                </form>
            </div>

    </section>


{% endblock %}

</body>
</html>