main{
    background-image: url("../../portfolio/images/AboutImage.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
}


#image{

    background: rgba(0, 0, 0, .1);
}

section{
   padding-bottom: 20px;
}


.resume{
    font-size: 35px;
    color: white;
}
.resume h3{
    /*Letter in center*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.subject{
    color: white;
}


.subjects{
    font-size: 30px;
}

.subjects h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 4px black;
}


h1{
    /*Letter in center*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

/* Links*/


.projects a{
    font-style: oblique;
    text-decoration: underline;
    color: white;
}

.projects a:hover{
    font-weight: bold;
}

.skills  ul {
    font-size: 20px;
    color: white;
}

.skills h2{
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
    color: white;

}

.phrases{
    font-size: 20px;
    color: white;
}

.explainVideo{
    color: white;
}

.explainVideo h2{
    text-align: center;
    text-shadow: 2px 2px 4px black;
    font-size: 30px;
}



.video-yt{
    width: 100%;
    position: relative;
    padding-top: 56.25%;

}

.video-yt iframe{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}






