main h1 {
  text-align: center;
  padding-top: 15vh;
}

main {
  background-image: url("../../portfolio/images/Loctans_Adventure_-_Capa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

h1 {
  font-size: 45px;
}

.Projects {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 100px 200px;
}

.Projects > div {
  width: 500px;
  height: 400px;
  background-color: white;
  color: black;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 5px 5px 15px black;
  align-content: center;
  margin: 20px;
}

.image img{
  object-position: center;
  width: 100%;
}


.ProjectName {
  font-size: 25px;
  text-align: center;
  text-shadow: 2px 2px 4px darkgrey;
}

.ProjectDescription {
  text-align: center;
}

.Projects > div:hover {
  text-decoration: none;
  box-shadow: 5px 5px 15px blue;
}

.Projects > div a:visited {
  color: black;
  text-decoration: none;
}

.Projects > div a:link {
  color: black;
  text-decoration: none;
}
